@import url("assets/CSS/reset.css");
@import url("assets/CSS/cardDev.css");
@import url("assets/CSS/contato.css");
@import url("assets/CSS/style.css");
@import url("assets/CSS/contato.css");
@import url("assets/CSS/media.css");

