*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
    margin: 10px 10px 0 10px;
    position: relative;
}

.card img{
    height: 32rem;
    align-items: center;
    border-radius:45px;
}

.card:hover::after{ 
    position: absolute;
    content: "😈";
    bottom: 50%;
    right: 45%;
    font-size: 30px;
    transition: 200ms ease-in-out;

}

.card img:hover {
    transition: 200ms ease-in-out;
    filter: brightness(45%);
    transform: scale(1.01);
}
