*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 10px 10px 0 10px;
    position: relative;
    align-items: center;
    
    
}

.card img{
    width: 16rem;
    height: 28rem;
    border-radius:45px;
    border: solid 3px green;
}

.card:hover::after{ 
    position: absolute;
    font-size: 30px;
    bottom: 50%;
    right: 45%;
    font-size: 20px;
    color: white;
    transition: 200ms ease-in-out;
    
}
.card_text-firstImage:hover::after {
    content: "marea di je";
}
.card_text-secundImage:hover::after {
    content: "marea di jao";
}
.card_text-thirdImage:hover::after {
    content: "marea di junio";
}

.card img:hover {
    transition: 20ms ease-in-out;
    filter: brightness(45%);
    transform: scale(1.03);
    border: solid 3px rgb(3, 255, 3);
}
@media(max-width:768px){
    .card::after{ 
        position: absolute;
        bottom: 0%;
        right: 35%;
    }
    .card_text-firstImage::after,.card_text-secundImage::after, .card_text-thirdImage::after{
        content: "";
        background: black;
        width: 100%;
        height: 10%;
        right: 0%;
        z-index: 1;
        opacity: 0.6
    }
    .card_text-firstImage::before, .card_text-secundImage::before, .card_text-thirdImage::before{
        right: 10%;
        bottom: 0;
        right: 30%;
        opacity: 1;
        z-index: 2;
        position: absolute;
        font-size: large;
        margin-bottom: 10px;
    }
    .card_text-firstImage::before{
        content: "bolinha";
    } 
    .card_text-secundImage::before{
        content: "bunda branca";
    }
    .card_text-thirdImage::before{
        content: "penisvaldo silva botelho";
    }
}