*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
h1{
    text-align: center;
}

.paragrafo1{
    color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2%;
}
.paragrafo2{
    
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}
.paragrafo3{

    color: red;
    font-family: 'Arial', sans-serif;
}