.rgb_blue-border  {
    position: relative;
    z-index: 0;
}
/* aqui altera o blur */
.rgb_blue-border:hover::before{
    content: "";
    position: absolute;
    top: 115%;
    right: 0%;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(57,53,255,1) 31%, rgba(15,15,255,1) 56%, rgba(0,212,255,1) 100%);  
    z-index: -1;
    height: 5px;
    width: 100%;
    border-radius: 20px;
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    filter: blur(2px);
    opacity: 1;
    background-size: 600%;
    
}

/* aqui altera a cor do sublinhado */
.rgb_blue-border:hover::after{
    content: "";
    position: absolute;
    top:100%;
    right: 0%;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(57,53,255,1) 31%, rgba(15,15,255,1) 56%, rgba(0,212,255,1) 100%); 
    z-index: -1;
    z-index: -1;
    height: 5px;
    width: 100%;
    border-radius: 20px;
    animation: glowing 20s linear infinite;
    background-size: 600%;
    
}
.image-box{
    position: relative;
    z-index: 0;
    transition: .300ms ease-in-out;
}
.image-box:hover::after,.image-box:hover::before{
    content: "";
    position: absolute;
    background: rgb(0,212,255);
    background: linear-gradient(315deg, rgba(0,212,255,1) 0%, rgba(57,53,255,1) 31%, rgba(15,15,255,1) 56%, rgba(0,212,255,1) 100%); 
    animation: animate 20s linear infinite;
    z-index: -1;
    width: 17.5rem;
    height: 17.5rem;
    background-color: 500%;
    border-radius: 200px;
    transition: 5s;
    
}
.image-box:hover::after{
    filter: blur(30px);
}
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
@keyframes animate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(1000deg);}
    100% {transform: rotate(0);}
}


