body{
    background-image: url(https://scontent.fpoa11-1.fna.fbcdn.net/v/t39.30808-6/457023475_827925169320409_2734783326245201013_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=127cfc&_nc_ohc=RUz3Qe68KEwQ7kNvgGZUTOL&_nc_zt=23&_nc_ht=scontent.fpoa11-1.fna&_nc_gid=AXPhF3EZjovBIKHpaB0Dthk&oh=00_AYCF2Hmm5Tm7fsxO7ViiNucwr0eqCFtwDCimSxcnYWHOoA&oe=673723D5);
    background-size: 250px;
    background-repeat: no-repeat;
}

h1{
    color: black;}