*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 20px 10px 20px 20px;
    position: relative;
    align-items: center;
    
    
}

.card img{
    width: 16rem;
    height: 28rem;
    border-radius:45px;
    border: solid 3px green;
}

.card:hover::after{ 
    position: absolute;
    font-size: 20px;
    bottom: 50%;
    left: 0%;
    color: white;
    transition: 200ms ease-in-out;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.card_text-firstImage:hover::after {
    content: "Analise e levantamento de requisitos";
}
.card_text-secundImage:hover::after {
    content: "Prototipação";
    left: 30%;
}
.card_text-thirdImage:hover::after {
    content: "Desenvolvimento";
    left: 20%;
}

.card img:hover {
    transition: 20ms ease-in-out;
    filter: brightness(45%);
    transform: scale(1.03);
    border: solid 3px rgb(3, 255, 3);
}
