@media(max-width:768px){
    .card::after{ 
        position: absolute;
        bottom: 0.3%;
        right: 35%;
    }
    .card_text-firstImage::after,.card_text-secundImage::after, .card_text-thirdImage::after{
        content: "";
        background: black;
        width: 100%;
        height: 10%;
        left: 0%;
        z-index: 1;
        opacity: 0.6;
        border-bottom-left-radius: 50px 45px;
        border-bottom-right-radius: 50px 45px;
    }
    .card_text-firstImage::before, .card_text-secundImage::before, .card_text-thirdImage::before{
        right: 10%;
        bottom: 0;
        right: 35%;
        opacity: 1;
        z-index: 2;
        position: absolute;
        font-size: large;
        margin-bottom: 10px;
        text-align: center;
        top: 92%;
        font-size: 14px;
    }
    .card_text-firstImage::before{
        content: "Analise e levantamento de requisitos";
        font-size: 14px;
        right: 10%;
        margin-bottom: 5px;

    } 
    .card_text-secundImage::before{
        content: "Prototipação";
    }
    .card_text-thirdImage::before{
        content: "Desenvolvimento";
        font-size: 14px;
        right:30%;
    }
}