/* Define a fonte do corpo como "Montserrat" */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
}

/* Estiliza a barra de navegação */
nav {
  background-color: rgb(0, 0, 0);
  height: 80px;
  width: 100%;
  border-bottom: 3px solid #0dff00; /* Adiciona uma borda inferior verde */
}

/* Estiliza a logo dentro do label */
label.logo {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

/* Faz o ul dentro do nav flutuar à direita */
nav ul {
  float: right;
  margin-right: 20px;
}

/* Define os itens da lista do nav ul */
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

/* Estiliza os links dentro dos itens da lista */
nav ul li a {
  color: rgb(255, 255, 255);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* Aplica estilos ao estado hover e ativo dos links */
nav ul li a:hover,
nav ul li a.active {
  background: #5e17eb;
  transition: .5s;
}

/* Estiliza o botão do menu */
.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

/* Oculta o input checkbox */
#check {
  display: none;
}

/* Estilos para telas menores que 1050px */
@media (max-width: 1050px) {
  label.logo {
    padding-left: 30px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

/* Estilos para telas menores que 991px */
@media (max-width: 991px) {
  nav ul li a {
    color: rgb(255, 255, 255); /* Mantém a cor dos links */
    font-size: 17px; /* Mantém o tamanho da fonte dos links */
  }
}

/* Estilos para telas menores que 890px */
@media (max-width: 890px) {
  .checkbtn {
    display: block;
  }
  label.logo {
    font-size: 22px;
  }
  ul {
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    overflow: hidden; /* Esconde a rolagem do ul */
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    z-index: 21;
    font-size: 20px;
  }
  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    color: #00ff26; /* Define a cor para hover e active */
  }
  #check:checked~ul {
    left: 0;
  }
}

/* Estilos para telas menores que 936px */
@media (max-width: 936px) {
  nav ul {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    overflow: hidden; /* Esconde a rolagem do ul */
  }
  #check:checked~ul {
    left: 0;
  }
}

/* Estilos para telas menores que 320px */
@media (max-width: 320px) {
  label.logo {
    padding: 0 10px; /* Reduz o padding para evitar que o gif saia da header */
  }
}
/* Zera margens e preenchimentos, remove decorações de texto, estilo de listas e ajusta box-sizing */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Define a fonte do corpo como "Montserrat" */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
}

/* Estiliza a barra de navegação */
nav {
  background-color: rgb(0, 0, 0);
  height: 80px;
  width: 100%;
  border-bottom: 3px solid #0dff00; /* Adiciona uma borda inferior verde */
}

/* Estiliza a logo dentro do label */
label.logo {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

/* Faz o ul dentro do nav flutuar à direita */
nav ul {
  float: right;
  margin-right: 20px;
}

/* Define os itens da lista do nav ul */
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

/* Estiliza os links dentro dos itens da lista */
nav ul li a {
  color: rgb(255, 255, 255);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* Aplica estilos ao estado hover e ativo dos links */
nav ul li a:hover,
nav ul li a.active {
  background: #5e17eb;
  transition: .5s;
}

/* Estiliza o botão do menu */
.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

/* Oculta o input checkbox */
#check {
  display: none;
}

/* Estilos para telas menores que 1050px */
@media (max-width: 1050px) {
  label.logo {
    padding-left: 30px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

/* Estilos para telas menores que 991px */
@media (max-width: 991px) {
  nav ul li a {
    color: rgb(255, 255, 255); /* Mantém a cor dos links */
    font-size: 17px; /* Mantém o tamanho da fonte dos links */
  }
}

/* Estilos para telas menores que 890px */
@media (max-width: 890px) {
  .checkbtn {
    display: block;
  }
  label.logo {
    font-size: 22px;
  }
  ul {
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    overflow: hidden; /* Esconde a rolagem do ul */
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    z-index: 21;
    font-size: 20px;
  }
  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    color: #00ff26; /* Define a cor para hover e active */
  }
  #check:checked~ul {
    left: 0;
  }
}

/* Estilos para telas menores que 936px */
@media (max-width: 936px) {
  nav ul {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    width: 100%;
    text-align: center;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    overflow: hidden; /* Esconde a rolagem do ul */
  }
  #check:checked~ul {
    left: 0;
  }
}

/* Estilos para telas menores que 320px */
@media (max-width: 320px) {
  label.logo {
    padding: 0 10px; /* Reduz o padding para evitar que o gif saia da header */
  }
}
